<div class="center_body">
  <img width="160" alt="Chrome Logo" src="./assets/chrome_default.png">
  <h2>
    {{titleChrome}}
  </h2>
</div>
<div class="center_body">
  <h2>Silahkan download browser Google Chrome melalui salah satu tautan di bawah ini: </h2>
  <ul class="ui list">
    <div class="item">
      <h3>
        <a target="_blank" rel="noopener" href="https://www.google.com/chrome/">
          Google Chrome Desktop
        </a>
      </h3>
    </div>
    <div class="item">
      <h3>
        <a target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.android.chrome">
          Google Chrome Android
        </a>
      </h3>
    </div>
  </ul>
</div>

