<div class="ui container">
  <br>
  <div class="ui one stackable cards">

    <div class="card">

      <div class="content">
        <div class="header">Setelan Kalkulator Nilai</div>
      </div>
      <div class="content">

        <form class="ui form">

          <!-- nilai tugas  default 20 %-->
          <div class="field">
            <label for="input_tugas">Persentase Nilai Tugas</label>
            <input id="input_tugas" type="text" name="nilai_tugas" [(ngModel)]="stringPengaliNilaiTugas">
          </div>

          <div class="ui negative message" *ngIf="!isNilaiTugasValid">
            <i class="close icon" (click)="clickCloseDialog()"></i>
            <p>Silahkan isi persentase nilai tugas dengan benar</p>
          </div>

          <!-- nilai uts default 35 %-->
          <div class="field">
            <label for="input_nilai_uts">Persentase Nilai UTS</label>
            <input id="input_nilai_uts" type="text" name="nilai_uts" [(ngModel)]="stringPengaliNilaiUTS">
          </div>

          <div class="ui negative message" *ngIf="!isNilaiUTSValid">
            <i class="close icon" (click)="clickCloseDialog()"></i>
            <p>Silahkan isi persentase nilai Ujian Tengah Semester dengan benar</p>
          </div>

          <!-- nilai uas default 45 % -->
          <div class="field">
            <label for="input_nilai_uas">Persentase Nilai UAS</label>
            <input id="input_nilai_uas" type="text" name="nilai_uas" [(ngModel)]="stringPengaliNilaiUAS">
          </div>

          <div class="ui negative message" *ngIf="!isNilaiUASValid">
            <i class="close icon" (click)="clickCloseDialog()"></i>
            <p>Silahkan isi persentase nilai Ujian Akhir Semester dengan benar</p>
          </div>

          <!-- nilai batas bawah -->
          <!-- batas bawah nilai A -->
          <div class="field">
            <label for="input_batasbawah_nilaiA">Batas Bawah Nilai A</label>
            <input id="input_batasbawah_nilaiA" type="text" name="batasbawah_A"
                   placeholder="batas minimum untuk nilai A"
                   [(ngModel)]="stringBatasBawahNilaiA">
          </div>

          <!-- batas bawah nilai B -->
          <div class="field">
            <label for="input_batasbawah_nilaiB">Batas Bawah Nilai B</label>
            <input id="input_batasbawah_nilaiB" type="text" name="batasbawah_B"
                   placeholder="batas minimum untuk nilai B"
                   [(ngModel)]="stringBatasBawahNilaiB">
          </div>

          <!-- batas bawah nilai C -->
          <div class="field">
            <label for="input_batasbawah_nilaiC">Batas Bawah Nilai C</label>
            <input id="input_batasbawah_nilaiC" type="text" name="batasbawah_C"
                   placeholder="batas minimum untuk nilai C"
                   [(ngModel)]="stringBatasBawahNilaiC">
          </div>

          <!-- batas bawah nilai D -->
          <div class="field">
            <label for="input_batasbawah_nilaiD">Batas Bawah Nilai D</label>
            <input id="input_batasbawah_nilaiD" type="text" name="batasbawah_D"
                   placeholder="batas minimum untuk nilai D"
                   [(ngModel)]="stringBatasBawahNilaiD">
          </div>

          <div class="ui negative message" *ngIf="!isInputDataOk">
            <i class="close icon" (click)="clickCloseDialog()"></i>
            <p>{{pesanInputDataNotValid}}</p>
          </div>

        </form>
      </div>

      <!-- tombol -->
      <div class="extra content">
        <div class="ui right floated" style="float: right;">
          <button type="submit" class="ui blue button">Simpan</button>
          <button type="submit" class="ui red button">Batal</button>
        </div>
      </div>
    </div>

  </div>
</div>
