<body class="body-background">

<!-- header bar -->
<div class="ui teal fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="./assets/calculator-flat.png">
    </a>
    <a href="#" class="item">Kalkulator Nilai</a>
    <div class="ui right simple dropdown item">
      Menu
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" routerLink="/setelan-kalkulator">Setelan</a>
        <a class="item" href="#">Tentang Aplikasi</a>
      </div>
    </div>
  </div>
</div>

<!-- router navigation-->
<div class="nav-top-routeroutlet">
  <router-outlet></router-outlet>
</div>
</body>
